#fretboard{
    overflow:scroll;
    padding:5px;   

    
}
.string {
    flex: 1 0 0;
    position: relative;
    display:flex;
    white-space:nowrap;
}
.string::before{
    display: inline-block;
    content: attr(data-string);
    height: 30px;
    line-height:30px;
    flex: 50 0 0;
}
.string.hideStringIdentifiers::before{
    content: "";
}
.string:first-of-type{
    margin-top: 25px;
}
.string:first-of-type .note::before{
    display: inline-block;
    position: absolute;
    content: attr(data-fret);
    bottom: 101%;
    height: 25px;
    line-height:25px;
    width: 100%;
    left: 0;
}
.string:first-of-type .note.hideFretNums::before{
    content: "";
}
.string:first-of-type .note::before, .string::before{
    font-style: italic;
    color: #888888;
}
.string .note:first-of-type{
    border-right: 7px double gray;
}
.string, .string *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.string .note {
    border-right: 1px solid gray;
    display: inline-block;
    height: 30px;
    line-height:33px;
    text-align: center;
    width: 50px;
    z-index:1;
    position: relative;
}
.string:after {
    border-bottom: 1px solid #CCCCCC;
    content: "";
    height: 50%;
    left: 3%;
    right: -3%;
    position: absolute;
    z-index: 0;
    pointer-events: none;
}
.string .note.available{
    background-color:rgba(0,0,0,0.075);
}
.string .note.available.playing{
    background-color:rgba(0,0,0,0);
}


.toggleCatDiv{
    display:inline-block;
    vertical-align: top;
    border-collapse: separate;
    border-spacing: 0 3px;
    margin:3px;
}
.toggleDiv td{
    padding: 2px;
    margin:2px;
}
.toggleDiv td:first-of-type{
    border: 1px solid gray;
    border-right: 0 none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.toggleDiv td:last-of-type{
    border: 1px solid gray;
    border-left: 0 none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.note div{
    cursor: default;
}
.note .noteName{
    visibility: hidden;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.note.setup .noteName{
    visibility: visible;
    color: #4488ff;
}
.note.questionDiv.available.playing{
    //background-color: rgba(0, 0, 255, 0.6);
}
.questionDiv .questionIdentifier:after{
    content:"";
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: right;
    z-index:4;
    background-image: url("../svg/question.svg");
    background-repeat:no-repeat;
}
.topControls{
    display: inline-block;
    margin-right: 10px;
    background-image: url("svg/point.svg");   background-position: center;   background-repeat: repeat-x;
}
#scoreDisplayOverlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    display: none;
}
#scoreDisplayOverlayInner{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
}
#scoreDisplay{
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    display: inline-block;
    position: relative;
    margin-left: -50%;
    margin-top: -50%;
    white-space: nowrap;
}
#scoreDisplay label{
    display: inline-block;
    width: 150px;
}
#scoreDisplay .scoreMsg{
    text-align:center;
}
[data-tuningForString].error{
    outline: 2px solid red;
}
.string:first-of-type .note::after{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    height: 600%;
    background-position: center;
}

.string:first-of-type .note:nth-of-type(4)::after, 
.string:first-of-type .note:nth-of-type(6)::after, 
.string:first-of-type .note:nth-of-type(8)::after, 
.string:first-of-type .note:nth-of-type(10)::after,
.string:first-of-type .note:nth-of-type(16)::after,
.string:first-of-type .note:nth-of-type(18)::after{
    content: "";
    background-image: url("../svg/single.svg");
}

.string:first-of-type .note:nth-of-type(13)::after{
    content: "";
    background-image: url("../svg/double.svg");
}