html, body, .overContainer{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
.overContainer{
    position: relative;
    /*background-color: #FFF6EB;*/
    background-image: url("green3c.jpg");
    text-shadow: 6px 5px 5px rgba(0,0,0,0.3);
    background-size: 100% 100%;
}
.mainContent{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    bottom: 0;
}
.topBar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 26px;
    white-space: no-wrap;
}
.topBar div{
    display: inline-block;
    margin: 2px 2px 0;
}

@media all and (orientation:landscape) and (max-height: 300px), (max-width: 600px){
    .fretboard {
        font-size: 75%;
    }
}
@media all and (orientation:portrait) and (max-height: 600px), (max-width: 300px){
    .fretboard {
        font-size: 75%;
    }
}
@media all and (orientation:landscape) {
    .mainContent{
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    .fretboard{
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        overflow-x: scroll;
        flex: 0 1 200px;
        -webkit-flex: 0 1 200px;
        -ms-flex: 0 1 200px;
        padding-bottom: 7px;
    }
    .toFret.playMode .fretboard{
        flex: 0 1 400px;
        -webkit-flex: 0 1 400px;
        -ms-flex: 0 1 400px;
    }
    .string{
        flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
    .string.lastString .note, .note.lastRealFret{
        box-shadow: 6px 5px 5px rgba(0,0,0,.3);
    }
    /*.note{
            background-image: 
                    linear-gradient(0deg, transparent 45%, #954 50%, transparent 55%), 
                    linear-gradient(90deg, silver 4px, transparent 4px);
    }*/
    .expanded .string{
        min-width: 1000px;
    }

    .string.labelString .note::after{
        left: 4px;
        top: 100%;
        right: 0;
        height: 600%;

    }
    .noteNameAnswer, .staffAnswer, .guitarAnswer, .staffQuestion, .noteNameQuestion{
        flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
    .ansBtns{
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
    }
    .ansBtns>div{
        flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
    .ansBtnLabel span::after{
        content:"/";
    }
    #toggleControls{
        flex: 2 1 250px;
        -webkit-flex: 1 1 250px;
        -ms-flex: 2 1 250px;
    }
    .questionDiv .questionIdentifier:after{
        background-position: right;
    }

}

@media all and (orientation:portrait) {
    .mainContent{
        flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
    }
    .fretboard{
        flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex: 0 1 300px;
        -webkit-flex: 0 1 300px;
        -ms-flex: 0 1 300px;
        overflow-y: scroll;
    }
    .toFret.playMode .fretboard{
        flex: 0 1 400px;
        -webkit-flex: 0 1 400px;
        -ms-flex: 0 1 400px;
    }
    .string{
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;

    }
    .string.firstRealString .note, .note.lastRealFret{
        box-shadow: 6px 5px 5px rgba(0,0,0,.3);
    }
    
    /*.string:first-child{
            z-index: 2;
    }*/
    .expanded .string{
        min-height: 1000px;
    }

    .string.labelString .note::after{
        right: 100%;
        top: 4px;
        bottom: 0;
        width: 600%;
    }
    .noteNameAnswer, .staffAnswer, .guitarAnswer, .staffQuestion, .noteNameQuestion{
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    .ansBtns{
        flex-direction: row;
        -webkit-flex-direction: row;
        -kit-flex-direction: row;
    }
    .ansBtns>div{
        flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    .ansBtnLabel span::after{
        content:" ";
        display: inline-block;
    }
    #toggleControls{
        flex: 2 1 250px;
        -webkit-flex: 2 1 250px;
        -ms-flex: 2 1 250px;
    }
    .questionDiv .questionIdentifier:after{
        background-position: bottom;
    }
}


.fretboard{
    display: flex;
    display:



        -webkit-box;
    display: 



        -webkit-flex;
    display: 



        -ms-flexbox;
    text-shadow: none;
}
.string{
    display: flex;
    display:-webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
}
.note[data-id]{
    background-color: #9F8F7F;
}


.note[data-fretlabel], .note.stringLabel, .note.nonFret{
    background-image: none!important;
    background-color: transparent;
    text-shadow: 6px 5px 5px rgba(0,0,0,.3);
    box-shadow: none!important;
}
.playMode .note[data-fretlabel], .note.stringLabel{
    text-shadow: none;
}
.note.available.stringLabel{
    text-shadow: none;
}
.note[data-fretlabel]{
    background-color: transparent;
    z-index: 2;
    pointer-events: none;
}
.note{
    display: inline-block;
    position:relative;

}
.note[data-fret]{
    color: transparent;
}
.setupMode .note[data-fret]{
    color: black;
}
.note.hideFretNums{
    color: transparent;
}
.note.stringLabel, .note[data-fretlabel='0']{
    flex-basis: 35px;
    -webkit-flex-basis: 35px;
    -ms-flex-basis: 35px;
}
.noteName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}
.note[data-fretlabel]{
    pointer-events: none;
}
.note[data-fretlabel]::after{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}
.note[data-fretlabel="4"]::after, 
.note[data-fretlabel="6"]::after, 
.note[data-fretlabel="8"]::after, 
.note[data-fretlabel="10"]::after, 
.note[data-fretlabel="16"]::after, 
.note[data-fretlabel="18"]::after{
    content: "";
    background-image: url("../svg/single.svg");
    pointer-events: inherit;

}
.note[data-fretlabel="13"]::after{
    content: "";
    background-image: url("../svg/singleDouble.svg");
    pointer-events: inherit;
}


.noteNameAnswer{
    flex: 1 1 100px;
    -webkit-flex: 1 1 100px;
    -ms-flex: 1 1 100px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

}
.staffQuestion, .noteNameQuestion, .staffAnswer, .guitarAnswer{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.staffQuestionBox{

    vertical-align: bottom;}
.ansBtns{
    flex: 0 1 500px;
    -webkit-flex: 0 1 500px;
    -ms-flex: 0 1 500px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.ansBtns>div{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.answerBtn{
    flex: 2 0 auto;
    -webkit-flex: 2 0 auto;
    -ms-flex: 2 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    margin: 3px;
}
.ansBtnSpacer{
    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
}
.ansBtnLabel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.filler{
    flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;

}

.string, .string *, .ansBtns, .ansBtns *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fromFret .questionDiv .questionIdentifier:after{
    content:"";
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:4;
    background-image: url("../svg/question.svg");
    background-repeat:no-repeat;
}
/*.setupMode .noteName{
        visibility: visible;

}*/
.string .note.available{
    background-color: rgba(256,256,256,0.7);
}
.fromFret.playMode .string .note.available.stringLabel{
    background-color: rgba(256,256,256,0.7);
}
.overlay{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 50;
}
.overlayInner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 6px 5px 5px rgba(0,0,0,.3);
    text-shadow: none;
    max-height: 75%;
    overflow: scroll;
}
#scoreDisplay>div{
    margin: 10px;
}
[data-tuningForString].error{
    outline: 2px solid red;
}




#toggleControls{
    overflow-y: scroll;
    padding: 5px 0px 0px 5px;
}
#toggleControls ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#toggleControls h1{
    font-size: medium;
    padding: 0;
    margin: 0;
}
#toggleControls h1:before{
    font-family: monospace;
    content: "\25b6";
}
#toggleControls h1.expanded:before {
    content: "\25bc";
}
#toggleControls h1 + ul{
    display: none;
}
#toggleControls h1.expanded + ul{
    display: block;
}
.toggleDiv{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.toggleTitle {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    padding-right: 10px;
}
.addBtn, .removeBtn {
    width: 25px;
}
input[data-tuningforstring] {
    width: 50px;
}
.tuningDiv button{
    margin-left: 10px;
}
#toggleControls ul ul{
    padding-left: 5px;
}
div#toggleControls * {
    max-width: 250px;
    cursor: default;
}
.toggleExpand{
    position: relative;
}
.toggleExpand:after{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../svg/unbound.svg");
}
.expanded .toggleExpand:after{
    background-image: url("../svg/bound.svg");
}

#toggleControls ul {
    margin-left: 5px;
}

.questionNote{
    box-shadow: 0px 0px 10px 10px gold;
    background-color: gold;
    text-shadow: none;
    display: inline-block;
}
.scoreOk{
    box-shadow: none;
    float: right;
}
.styledBtn{
    display:i nline-block;
    border-radius: 10px;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background-color: silver;
    float: right;
    margin-right: 8px!important;
    font-size: small;
    font-weight: bold;
}
.closeHelp{
    position: absolute;
    right: -10px;
    top:-3px;
}

.flashAnswer, .flashQuestion{
    outline-width: 0px;
    outline-offset: 0px;

}
.flashingCorrect{
    outline-color: green;
    outline-style: solid;
}
.flashingIncorrect{
    outline-color: red;
    outline-style: solid;
}